body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 24px;
    padding-top: 0;
    
}
.top-header {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-bottom: 48px;
    max-height: fit-content;
    top: 0;

}

ul {
    display: flex;
    gap: 8px;
    list-style: none;
    margin-left: auto;
}

.text {
   margin-left: 50px;
   flex-shrink: 0;
   justify-content: flex-start;
   align-items: flex-start;

}

a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 900;
}

.bottom-header {
    display: flex;
    max-width: 900px;
    gap: 52px;
    align-self: center;
}

.motto {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    
}

.featured {
    display: flex;
    gap: 52px;
    margin-top: 90px;
    margin-bottom: 48px;
    flex-grow: 0;
    justify-content: center;
      
}

.description {
    max-width: 200px;
    align-items: flex-start;
    color: #f9faf8;
}


.drop {
    margin-bottom: 24px;
    margin-top: 8px;
    font-weight: bolder;
    font-size: 32px;
    align-self: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.desc {
    max-width: 190px;
    align-self: center;
}

.testimonial {
    display: flex;
    margin-bottom: 48px;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 48px;
    gap: 16px;

}

.review {
    font-style: italic;
    max-width: 800px;
    align-self: center;
    flex-shrink: 0;
}

.author {
    margin-left: auto;
    font-weight: 800;
}

.newsletter {
    display: flex;
    padding: 56px;
    align-self: center;
    flex-shrink: 0;
}

.newstitle,
.newstext {
    color: #e5e7eb;
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    padding: 32px;
    border-radius: 16px;
    max-width: 900px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px;
    align-items: center;
}

.copyright,
.dev {
    color: #e5e7eb;
}

button{
    border-radius: 8px;
    background: #3882f6;
    padding-left: 8px; 
    padding-right: 8px;
    font-weight: 800;
    
}

button.signup {
    color: #e5e7eb;
    border-color: #e5e7eb;
    border: 2px solid snow; 
    flex-shrink: 0;
    padding-left: 28px;
    padding-right: 28px;
     
}

button.stock {
    border: 0;
    color: #e5e7eb;
    
}

.prd {
    border-radius: 16px;
    border-color: #3882f6;
    border: 3px solid #3882f6;    
}

.action-body {
    display: flex;
    gap: 32px;
    flex-shrink: 0;  
}

.newstitle {
    font-weight: 900;
    font-size: 20px;
}